[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fullfact"]
	path = fullfact
	url = https://github.com/cran/fullfact
	shallow = true
	registered = true
